<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Page Processing...</title>
	</head>
	<body>
		<h1>Page Processing...</h1>


		{% if page %}
			{{ page.manuscript.text.title }} – {{ page.manuscript.collection.name }} – {{ page.manuscript.accession_number }}
			: {{ page.image.url }} — {{ page.image.name }} — {{ page.image.path }}
			<br>
			{% if page.image_preview %}
				<img src="{{ page.image_preview.url }}" />
			{% else %}
				<p>Error producing composite image.</p>
			{% endif %}
			<br>
			{% if page.image_thumbnail %}
				<img src="{{ page.image_thumbnail.url }}" />
			{% else %}
				<p>Error producing thumbnail image.</p>
			{% endif %}
			<br>
			<p>Media Root: {{ media_root }}</p>
			<p>Name: {{ page.image.name }}</p>
			<br><br>
			
		{% else %}
			<p>No page avabilable.</p>
		{% endif %}
	</body>
</html>