{% extends 'Sobti/base.html' %}	

{% block title %}Manuscripts in {{ text.title }}{% endblock %}

{% block content %}

	<h1>Manuscripts in {{ text.title }}</h1>

	{% if text %}
		<ul class="list-group list-group-flush">
			{% for manuscript in text.manuscript_set.all %}
				<li class="list-group-item">
					<a href="{% url 'sobti:pages' text.id manuscript.id %}">
						{{ manuscript.text.title }} – {{ manuscript.collection.name }}: {{ manuscript.accession_number }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No manuscripts have been added for {{ text.title }}.</p>
	{% endif %}
	
	
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add_text" aria-expanded="false" aria-controls="collapseAddText">
		Create a new manuscript...
	</button>
	<div class="collapse" id="add_text">
		<div class="card card-body">
			<form action="{% url 'sobti:manuscripts' text.id %}" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="row">
					<div class="col-9">
						{% for field in form %}
		  				<div class="row">
								{{ field.errors }}
								<div class="col-6">
									<label for="{{ field.id_for_label }}">{{ field.label }}</label>
								</div>
								<div class="col-6">
									{{ field }}
								</div>
								{% if field.help_text %}
									<div class="col">
										<p class="help">{{ field.help_text|safe }}</p>
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="col-2">
						<input type="submit" value="Submit" class="btn btn-primary btn-lg" />
					</div>
				</div>
			</form>
		</div>
	</div>
		
{% endblock %}

{% block footer %}
	<h3><a href="{% url 'sobti:texts' %}">Back to Text List</a></h3>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	
	////////////////////////////////////////////////////////////////////////////
	// DOCUMENT LOAD 
	////////////////////////////////////////////////////////////////////////////
	$( document ).ready( function(){
		// $("#add_text").on( 'click', function(e) {
		// 
		// });
	});
		
{% endblock %}

