{% extends 'Sobti/base.html' %}	

{% load static %}

{% block title %}Ⲥⲟⲃϯ: Glyph Labeling Workspace{% endblock %}


{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/sobti_style.css' %}">
	{% block style_sign_list %}{% endblock style_sign_list %}
{% endblock stylesheet %}


{% block content %}

<table>

{% for glyph in glyphs %}
	<tr>
		<td><img src="{{ glyph.image.url }}" /></td>
		<td>{{ glyph.unicode_glyphs }}</td>
		<td>"{{ glyph.image.name }}"</td>
	</tr>
{% empty %}
	<tr>No Glyphs</tr>
{% endfor %}
</table>

{% endblock content %}



{% block javascript %}
	<script src="{% static 'js/jquery-sortable.js' %}"></script>
	
	<script type="text/javascript">
		
		// canvas = $("#facsimile")
		var canvas = document.getElementById("facsimile");
		
		var ctx = canvas.getContext("2d");
		var cw = canvas.width;
		var ch = canvas.height;

		function reOffset() {
			var BB = canvas.getBoundingClientRect();
			offsetX = BB.left;
			offsetY = BB.top;
		}
		var offsetX, offsetY;
		window.onscroll = function(e) {
			reOffset();
		}
		window.onresize = function(e) {
			reOffset();
		}
		
				
		var fInertAlpha = 0.2;
		function handleMouseMove(e) {
			// tell the browser we're handling this event
			e.preventDefault();
			e.stopPropagation();
			// mouse position
			mouseX = parseInt(e.clientX - offsetX);
			mouseY = parseInt(e.clientY - offsetY);
			// test if mouse is inside any shape(s)
			// and redraw different alpha based on hovering
			cw = canvas.width;
			ch = canvas.height;
			ctx.clearRect(0, 0, cw, ch);
			for (var i = 0; i < dbData.lines.length; i++) {
				defineshape(dbData.lines[i].polygon, 0.2);
				if (ctx.isPointInPath(mouseX, mouseY)) {
					ctx.globalAlpha = 0.8;
				} else {
					ctx.globalAlpha = fInertAlpha;
				}
				ctx.fill();
				
				for(var j = 0; j < dbData.lines[i].glyphs.length; j++) {
					defineshape(dbData.lines[i].glyphs[j].polygon);
					if (ctx.isPointInPath(mouseX, mouseY)) {
						ctx.globalAlpha = 0.8;
					} else {
						ctx.globalAlpha = fInertAlpha;
					}
					ctx.fill();
				}
			}
		}
		
		
		
		// Generate dataset for all subsequent operations
		var dbData = [];
		var nLines = 0;
		var vCMLines;
		var vCMGlyphs;
		
		function getColorString(vCMij,fAlpha) {
			return "rgba(" + [].concat(vCMij, [fAlpha]).toString() + ")";
		}
		
		function defineshape(s, fAlpha) {
			sFillColor = getColorString(vCMLines[i],fAlpha);
			sStrokeColor = getColorString(vCMLines[i],fAlpha);
			ctx.fillPolygon(s, sFillColor, sStrokeColor, 6);
			
			ctx.globalAlpha = fInertAlpha;
			ctx.beginPath();
		  ctx.moveTo(s[0][0], s[0][1]);
		  for (var i = 1; i < s.length; i++) {
		    ctx.lineTo(s[i][0], s[i][1]);
		  }
		  ctx.closePath();
			
			ctx.globalAlpha = fInertAlpha;
		}
		
		
		// Load facsimile image and make canvas background
		var imgFacsimile = new Image();
		
		////////////////////////////////////////////////////////////////////////////
		// DOCUMENT LOAD 
		////////////////////////////////////////////////////////////////////////////
		$( document ).ready( function(){
			
			{% block sign_list_js %}{% endblock sign_list_js %}
			
			
			reOffset();
			
			

			dbData = JSON.parse( '{{ data_package|safe }}' );	
			nLines = dbData.lines.length;
			vCMLines = iris(nLines);
			vCMGlyphs = new Array(nLines).fill([]);
			
			$("#facsimile").on("mouseover", function(e) {
				console.log("canvas mouse move");
			}).on("mousedown",function(e) {
				
				reOffset();
				mouseX = parseInt(e.clientX - offsetX);
				mouseY = parseInt(e.clientY - offsetY);
				handleMouseMove(e);
				console.log([mouseX, mouseY]);
			});
			
			imgFacsimile.onload = function(){ document.getElementById("facsimile").getContext("2d").drawImage(imgFacsimile,0,0); };
			imgFacsimile.src = dbData.facsimile.url;
			
			// Set appearance
			clearCanvas();
			for(var i=0; i<nLines; i++) {
				$("#line_header_"+dbData.lines[i].pk).css('color', "rgb(" + vCMLines[i].toString() + ")");
				$("#line_header_"+dbData.lines[i].pk).css('background-color', "rgb(" + vCMLines[i].toString() + ", 0.3)");
				$("#line_header_"+dbData.lines[i].pk).css('border', "5px solid rgb(" + vCMLines[i].toString() + ")");
				
				var nGlyphs = dbData.lines[i].glyphs.length;
				vCMGlyphs[i] = iris(nGlyphs);
				for(var j=0; j<nGlyphs; j++) {
					// Make the label colors match
					// $("#glyph_mover_"+dbData.lines[i].glyphs[j].pk).css('color', "rgb(" + vCMGlyphs[i][j].map(function(f) {return f*0.5+127;}).toString() + ")");
					$("#glyph_mover_"+dbData.lines[i].glyphs[j].pk).css('background-color', "rgb(" + vCMGlyphs[i][j].toString() + ")");
				}
			}
			// Setup data stores and event handlers
			for(var i=0; i<nLines; i++) {
				// Data stored in elements for later retrieval
				$("#draw_line_"+dbData.lines[i].pk).data('i',i);
				$("#draw_line_"+dbData.lines[i].pk).data('n',dbData.lines.length);
				$("#draw_line_"+dbData.lines[i].pk).data('polygon', dbData.lines[i].polygon);
				// Rollover events for displaying polygons
				$("#draw_line_"+dbData.lines[i].pk).on( 'mouseout', function(e) {
					clearCanvas();
				});				
				$("#draw_line_"+dbData.lines[i].pk).on( 'mouseover', function(e) {
					e.preventDefault();
					clearCanvas();
					i = $(this).data('i');
					// sFillColor = "rgba(" + [].concat(vCMLines[i], [0.1]).toString() + ")";
					sFillColor = getColorString(vCMLines[i],0.1);
					sStrokeColor = "rgba(" + [].concat(vCMLines[i], [0.7]).toString() + ")";
					ctx.fillPolygon($(this).data('polygon'), sFillColor, sStrokeColor, 6);
				});
				
				// GLYPH LOOP
				var nGlyphs = dbData.lines[i].glyphs.length;
				vCMGlyphs[i] = iris(nGlyphs);
				for(var j=0; j<nGlyphs; j++) {	
					// Data stored in elements for later retrieval
					$("#draw_glyph_"+dbData.lines[i].glyphs[j].pk).data('i',i);
					$("#draw_glyph_"+dbData.lines[i].glyphs[j].pk).data('j',j);
					$("#draw_glyph_"+dbData.lines[i].glyphs[j].pk).data('n',nGlyphs);
					$("#draw_glyph_"+dbData.lines[i].glyphs[j].pk).data('polygon', dbData.lines[i].glyphs[j].polygon);
					// Rollover events for displaying polygons
					$("#draw_glyph_"+dbData.lines[i].glyphs[j].pk).on( 'focusout', function(e) {
						clearCanvas();
					} );
					$("#draw_glyph_"+dbData.lines[i].glyphs[j].pk).on( 'mouseover focusin', function(e) {
						e.preventDefault();
						clearCanvas();
						i = $(this).data('i');
						j = $(this).data('j');
						vCMGlyphs[i] = iris($(this).data('n'));
						sFillColor = "rgba(" + [].concat(vCMGlyphs[i][j], [0.6]).toString() + ")";
						sFillColor = getColorString(vCMGlyphs[i][j],0.6);
						sStrokeColor = "rgba(" + [].concat(vCMGlyphs[i][j], [0.7]).toString() + ")";
						ctx.fillPolygon($(this).data('polygon'), sFillColor, null, 4);
					});
					
					// Data update events
					
					//Changes to text values
					vInputs = [ "unicode_glyphs", "manuel_de_codage", "moller_number", "mainz_number"	];
					for(var k=0; k<vInputs.length; k++) {
						$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_"+vInputs[k]).data('pk', dbData.lines[i].glyphs[j].pk);
						$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_"+vInputs[k]).data('field', vInputs[k]);
						
						$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_"+vInputs[k]).on( 'change', function(e) {
							e.preventDefault();
							var oUpdate = new Object();
							oUpdate.pk = $(this).data('pk');
							oUpdate.field	= $(this).data('field');
							oUpdate.value = $(this).val();
							
							$.ajax({
								url: $(this).closest("form").attr("update_glyph_url"),
								type : "POST",
								data: JSON.stringify(oUpdate),
								dataType: 'json',
								success: function(json) { console.log(json); },
								error: function(xhr,errmsg,err) { console.log(xhr.status + ": " + xhr.responseText); }
							});
						});
					}
					
					// Moving glyphs in sequence
					//"glyph_{{glyph.pk}}_move_up"
					$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_move_up").data('pk', dbData.lines[i].glyphs[j].pk);
					$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_move_up").data('up', true);
					$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_move_down").data('pk', dbData.lines[i].glyphs[j].pk);
					$("#glyph_"+dbData.lines[i].glyphs[j].pk+"_move_down").data('up', false);
				}
			}
			
		});
	
		function clearCanvas() {
			var canvas = document.getElementById("facsimile");
			ctx = canvas.getContext("2d");
			canvas.width = dbData.facsimile.width;
			canvas.height = dbData.facsimile.height;
			ctx.clearRect(0,0,canvas.width,canvas.height); 
			ctx.drawImage(imgFacsimile,0,0);
		}
	
		//create and fill polygon
		CanvasRenderingContext2D.prototype.fillPolygon = function (pointsArray, fillColor, strokeColor, linewidth) {
			if (pointsArray.length <= 0) return;
			this.moveTo(pointsArray[0][0], pointsArray[0][1]);
			for (var i = 0; i < pointsArray.length; i++) {
					this.lineTo(pointsArray[i][0], pointsArray[i][1]);
			}
			if (strokeColor != null && strokeColor != undefined) {
				this.strokeStyle = strokeColor;
				this.lineWidth = linewidth;
				this.imageSmoothingEnabled = true;
				this.imageSmoothingQuality = 'high';
				this.lineCap = 'round';
				this.lineJoin = 'round';
				this.closePath();
				this.stroke();
			}

			if (fillColor != null && fillColor != undefined) {
				this.fillStyle = fillColor;
				this.fill();
			}
			
			// console.log(pointsArray);
			return this;
		}


	</script>
{% endblock javascript %}
