{% extends 'Sobti/base.html' %}	

{% block title %}Texts in Ⲥⲟⲃϯ{% endblock %}

{% block content %}

	<h1>Texts in Ⲥⲟⲃϯ</h1>

	{% if text_list %}
		<ul class="list-group list-group-flush">
			{% for text in text_list %}
				<li class="list-group-item">
					<a href="{% url 'sobti:manuscripts' text.id %}">{{ text.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No texts avabilable.</p>
	{% endif %}
	
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add_text" aria-expanded="false" aria-controls="collapseExample">
		Add a new text...
	</button>

	<div class="collapse" id="add_text">
		<div class="card card-body">
			
			<form action="{% url 'sobti:texts' %}" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="container">
					{% for field in form %}
	  				<div class="row">
							{{ field.errors }}
							<div class="col-4">
								<label for="{{ field.id_for_label }}">{{ field.label }}</label>
							</div>
							<div class="col-6">
								{{ field }}
							</div>
							{% if field.help_text %}
								<div class="col">
									<p class="help">{{ field.help_text|safe }}</p>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-8"></div>
					<div class="col-4">
						<input type="submit" value="Submit" class="btn btn-primary btn-lg">
					</div>
				</div
				
			</form>
		</div>
	</div>
	
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		
		////////////////////////////////////////////////////////////////////////////
		// DOCUMENT LOAD 
		////////////////////////////////////////////////////////////////////////////
		$( document ).ready( function(){
			// $("#add_text").on( 'click', function(e) {
			// 
			// });
		});
			
{% endblock %}







