* {
  margin: 0 !important;
  padding: 0  !important;
}			

.back_home_footer {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
   width: 100% !important;
   background-color: red !important;
   color: white !important;
   text-align: center !important;
}




