* {
  font-family: "Garamond Premier Pro", "Adobe Garamond", Garamond, serif;
  margin: 0 !Important;
  padding: 0  !Important;
}			

.back_home_footer {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
   width: 100% !important;
   background-color: red !important;
   color: white !important;
   text-align: center !important;
}




